body {
    font-family: Arial, sans-serif;
    background-color:gray;
}

.container {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    background-color:aliceblue;
}

.header {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.content {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 110px);
    padding: 5px;
}

button {
  --b: 3px;   
  --s: .45em; 
  --color: #373B44;
  border-radius: 50rem;
  padding: calc(.3em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  font-size: 16px;
  cursor: pointer;
}

#sale-areas{
    text-shadow: 2pc;
    color:black;
    font-weight: bold;
}
h1{
    text-align: center;
}
