*{   
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
body {
    background-color: gray;
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    width: 100rem;
}
#head{
    width: 100rem;
}

.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-right: 13rem;
    padding: 20px;
    border: 1px solid #000;
    background-color:aliceblue;
}

h1 {
    text-align: center;
    border-radius: 0%;
    border: #000;
}

.form-section {
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    display: flex;
    margin-left: 10rem;
    margin-right:8rem ;
}

input {
    padding: 5px;
    align-items: center;
    margin-left: 1rem;
    width: 12rem;
    margin-right:1rem ;
}

table {
    background-color:#f2f2f2;;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; 
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th{
    background-color: rgb(198, 196, 196);
}

button {
  --b: 3px;   
  --s: .45em; 
  --color: #373B44;
  border-radius: 50rem;
  padding: calc(.3em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  font-size: 16px;
  cursor: pointer;
}

#Transaction-type{
    cursor: pointer;
}
#party-maintenance{
    cursor: pointer;
}
#hidden-input{
    display: none;
    margin-right: 10rem;
    padding-right: 10rem;
}
#input-text{
    margin-right: 3rem;

}
#stk-no{
    width: 17rem;
}
#trn-type{
    width: 12.6rem;
}
#date{
    width: 13.8rem;
}
#trn-no{
    width: 13.2rem;
}
#heading{
    background-color:rgb(177, 163, 163);
    margin-right: 25rem;
    margin-left: 25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


